*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.login-page{
    width: 100%;
    height: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side{
    display: grid;
    justify-content: start;
    padding: 210px 60px;
    background-image: url('./img/img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text>p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.text>h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.login-content{
    max-width: 430px;
    margin: 80px auto;
}

.brand{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 600;
    color: #1D1D1B;
}

.form{
    margin-top: 100px;
}

.form-text>h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 5px;
}

.form-text>p{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 50px;
}

input[type=username], 
input[type=password],
input[type=email] { 
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
    font-family: 'Space Grotesk';
    font-size: 20px;
    width: 100%;
    height: 44px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 15px;
}

input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set>a{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    transition: all .25s;
    text-decoration-line: underline;
    color: #000000;
}

.set>a:hover{
    font-weight: 700;
}

.set>label{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 36px;
    width: 100%;
    height: 60px;
    background: #060606;
    border: none;
    transition: all .25s;
    border-radius: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}

.register{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 36px;
    width: 100%;
    height: 60px;
    transition: all .25s;
    border: 1px solid #000;
    border-radius: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 15px;
    cursor: pointer;
}

.divider{
    margin-top: 12px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #c2c2c2;
}

.divider>span {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7A7A7A;
    margin-bottom: -11px;
    background-color: #fff;
    padding: 0 10px;
}

.google-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 12px;
    gap: 16px;
    width: 100%;
    height: 60px;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    background-color: #fff;
    transition: all .25s;
    cursor: pointer;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.google-button:hover{
    background-color:  rgb(217, 217, 217);
}

.login-button:hover{
    background-color: rgb(217, 217, 217);
    color: #000;
}

.register:hover{
    background-color: #000;
    color: #fff;
}

.sign-up{
    margin-top: 100px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.sign-up>span{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.sign-up>a{
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: all .25s;
    text-decoration-line: underline;
    color: #000000;
}

.sign-up>a:hover{
    color: #878787;
}